/* ==========================================================================
   General
   ========================================================================== */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap-reverse;
}

@media (min-width: 600px) {
  .container-flex {
    flex-wrap: nowrap;
  }
}

.reverse-wrap .container-flex {
  flex-direction: row-reverse
}


/* ==========================================================================
   Navigation
   ========================================================================== */


header {
  padding: 50px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
text-decoration: none;
}

nav ul {
  display: none;

}

@media (min-width: 600px) {
  nav ul {
    display: flex;
  }
}

nav ul li {
  display: block;
  margin-left: 30px;
}



/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  clear: both;
  position: relative;
  height: 170px;
  margin: 0px auto;
  margin-top: 100px;
  text-align: center;
}

   footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }

  footer ul li {
    display: block;
    margin: 0px 30px 0px 30px;
  }


/* ==========================================================================
   Typography
   ========================================================================== */


h1 {
  margin: 0;
  font-size: 90px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

@media (min-width: 600px) {
  h1 {
    font-size: 300px;
  }
}

h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h3 {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h4 {
  margin: 0px;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
  line-height: 135%;
}

h5 {
  margin: 0px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h6 {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

p {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
  line-height: 160%;
}

nav ul {
  margin: 0px;
  font-size: 21px;
  font-weight: 700;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

.nav-active {
  font-weight: 800;
  color: #882052;
}

.nav-inactive {
  color: #4B4B4B;
}

nav a:active {
  color: #882052;
}

nav a:hover {
  color: #882052;
}


/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  margin: 300px, 0px, 0px, 0px;
  min-height: calc(100vh - 164px);
}

.hero h1 {
  position: relative;
  text-align: center;
  color: #882052;
}

#hero-index h1::after {
  content: '';
  display: block;
  position: absolute;
  max-width: 100%;
  max-height: 125%;
  top: 60%;
  left: 50%;
  transform: translate(-30%, -50%);
  background: url('../images/hero-index.png') no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  #hero-index h1::after {
    width: 50%;
    height: 500px;

  }
}


#hero-work h1::after {
  content: '';
  display: block;
  position: absolute;
  max-width: 100%;
  max-height: 125%;
  top: 60%;
  left: 50%;
  transform: translate(-43%, -50%);
  background: url('../images/hero-work.png') no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  #hero-work h1::after {
    width: 50%;
    height: 500px;
  }
}


#hero-about h1::after {
  content: '';
  display: block;
  position: absolute;
  max-width: 100%;
  max-height: 125%;
  top: 60%;
  left: 50%;
  transform: translate(-43%, -50%);
  background: url('../images/hero-about.png') no-repeat;
  background-size: cover;
}

@media (min-width: 600px) {
  #hero-about h1::after {
    width: 50%;
    height: 500px;
  }
}

#down-arrow {
  display: block;
  margin: 100px auto 0px auto;
}

.hero {
  background: url('../images/image-plumdivider.svg')no-repeat center center;
  overflow: hidden;
  background-size: cover;
  width: 100%;
}


/* ==========================================================================
   Plum Divider
   ========================================================================== */

   .plum-divider {
     background-color: #882052;
     padding: 60px 0px 20px 0px;
   }

   #plum-divider-work {
     padding: 60px 0px 40px 0px;
   }

   #plum-divider-about {
     padding: 60px 0px 60px 0px;
   }

   .plum-divider .container {
     max-width: 700px;
   }

   .plum-divider h4, .plum-divider h5, .plum-divider p {
     color: #ffffff;
     text-align: center;
   }

   .plum-divider h4 {
     margin: 14px auto;
   }

   #white-dash {
     display: block;
     margin: 18px auto;
   }


   /* ==========================================================================
      Buttons
      ========================================================================== */

    .button-center-one, .button-center-two {
      margin: 0;
      padding:0;
      text-align: center;
      }

   .button-action {
     margin: 0;
     padding:0;
   }

     .button {
       appearance: none;
       background-color:#882052;
       cursor:pointer;
       color:#ffffff;
       font-size: 18px;
       font-weight: 800;
       text-transform: uppercase;
       text-align: center;
       font-family: 'Raleway', Arial, sans-serif;
       text-decoration:none;
       display: inline-block;
       padding:18px 36px;
       margin: 40px auto;
   }

   .button-center-one a:hover {
     color: #54002F;
     }

   .button-center-two a:hover {
       background-color: #54002F;
      }

     .button-action a:visited {
       color: #ffffff;
      }

     .button-action a:hover {
       background-color: #54002F;
      }


/* ==========================================================================
   Index Page Projects
   ========================================================================== */

   .title h2 {
     margin: 60px auto;
     text-align: center;
     color: #882052
   }

   .title-2 h2 {
     margin: 60px 0px 0px 0px;
     text-align: center;
     color: #882052
   }

   .project-light h3, .project-dark h3 {
     margin: 18px auto;
     color: #882052
   }

   .project-light {
     background-color: #FAF6F8;
     padding: 60px 60px;
     height: 100%;

   }

   .project-dark {
     background-color: #F5EDF1;
     padding: 60px 60px;
     height: 100%;

   }

   @media (min-width: 600px) {
    .column-10 {
      width: 10%;
      min-height: 1px;
    }


    .column-20 {
      width: 20%;
    }
  }

    .column-50 {
      width: 50%;
      padding: 0px 30px;

    }

    .column-30 {
      width: 30%;
      padding: 40px 30px;
    }
  }



/* ==========================================================================
   Work Squares
   ========================================================================== */

   .work-squares {
     margin-top: 100px;
     }

   .work-square {
     min-width: 33.3%;
     height: 399px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin-top: 100px;
  }

  .hover {
    width: 399px;
    height: 399px;
    text-align: center;
    opacity: 0;
    transition: 0.5s opacity ease;
    background-color: rgb(84,0,47, 0.9);
  }

 .hover h3 {
   margin: 0px 40px 20px 40px;
   padding-top: 100px;
   color: #ffffff;
 }

 #no-p h3 {
   padding-top: 200px;
 }

 #work-square-button {
   padding-top: 0px;
   font-size: 18px;
 }

 .hover p {
   margin: 0px 40px 30px 40px;
   color: #ffffff;
 }

  .hover:hover {
    opacity: 1;
  }


   #forecast {
     background: url('../images/work-forecast.png')no-repeat;
   }

   #horizon-rewards {
     background: url('../images/work-horizonrewards.png')no-repeat;
   }

   #vote-u {
     background: url('../images/work-voteneedsu.png')no-repeat;
   }

   #talking-door {
     background: url('../images/work-talkingdoor.png')no-repeat;
   }

   #boo-boo-buddy {
     background: url('../images/work-booboobuddies.png')no-repeat;
   }

   #busy-bus {
     background: url('../images/work-busybus.png')no-repeat;
   }

   #partners-branding {
     background: url('../images/work-partnersbranding.png')no-repeat;
   }

   #minnie-meals {
     background: url('../images/work-minniemeals.png')no-repeat;
   }

   #junk-drawer {
     background: url('../images/work-junkdrawer.png')no-repeat;
   }

   #logos {
     background: url('../images/work-logos.png')no-repeat;
   }

   #photography {
     background: url('../images/work-photos.png')no-repeat;
   }


/* ==========================================================================
   About and Projects
   ========================================================================== */

   .side-header {
     inline: block;
     margin: 0px;
     font-size: 24px;
     font-weight: 700;
     text-align: right;
     font-family: 'Raleway', Arial, sans-serif;
     color: #4B4B4B;
     line-height: 200%;
   }

   .side-header ul {
     padding: 0px;
   }

   .side-header ul li {
     display: block;
   }

   .side-header-plum h3{
     inline: block;
     margin: 0px;
     font-size: 24px;
     font-weight: 700;
     text-transform: uppercase;
     text-align: right;
     font-family: 'Raleway', Arial, sans-serif;
     color: #882052;
   }

   .information-text {
     padding: 0px;
   }

   .information-text h2 {
     margin-bottom: 40px;
     color: #882052;
   }

   .information-text ul {
     margin-bottom: 30px;
     font-size: 18px;
     font-weight: 400;
     font-family: 'Raleway', Arial, sans-serif;
     color: #4B4B4B;
     line-height: 160%;
     padding: 0px;
   }

   .information-text ul li {
     display: block;
   }

   .information-text p {
     margin-bottom: 40px;
   }

   #button-padding {
     padding: 0px;
   }

#button-resume, #top-element {
  margin: 0px;
}

#about-me, #bio, #experience, #resume {
  margin-top: 100px;
}




/* ==========================================================================
   Forecast
   ========================================================================== */


   .image-information {
     max-width: 720px;
     height: 720px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     margin: 0px;
     padding: 0px;
     background-size: cover;
  }


  .full-width {
    max-width: 100%;
    background-size: cover;
 }


   #hero-forecast {
     background: url('../images/hero-forecast.png') no-repeat;
   }

   #forecast-problem {
     background: url('../images/forecast-problem.png')no-repeat;
   }

   #forecast-solution {
     background: url('../images/forecast-solution.png')no-repeat;
   }

   #forecast-surveys {
     background: url('../images/forecast-surveys.png')no-repeat;
   }

   #forecast-flows {
     background: url('../images/forecast-flows.png')no-repeat;
   }

   #forecast-sketches {
     background: url('../images/forecast-sketches.png')no-repeat;
   }

   #forecast-mockups {
     background: url('../images/forecast-mockups.png')no-repeat;
   }

   #forecast-mockuptesting {
     background: url('../images/forecast-mockuptesting.png')no-repeat;
   }

   #forecast-branding {
     background: url('../images/forecast-branding.png')no-repeat;
   }

   #forecast-prototypes {
     background: url('../images/forecast-prototypes.png')no-repeat;
   }

   #forecast-prototypetesting {
     background: url('../images/forecast-prototypetesting.png')no-repeat;
   }

   #hero-forecast2 {
     background: url('../images/hero-forecast2.png')no-repeat;
   }


/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

   img {
     max-width: 100%;
   }

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
