/* ==========================================================================
   General
   ========================================================================== */
   body{
 height: 100%;
 }

 .container {
   margin: 0 10%;
 }

 .container-flex {
   display: flex;
   flex-wrap: wrap;
 }

 .container-reverse {
   display: flex;
    flex-wrap: wrap-reverse;
 }

 @media (min-width: 600px) {
   .container-flex {
     flex-wrap: nowrap;
   }
 }

 .row-reverse .container-flex {
   flex-direction: row-reverse;
 }

 *, *::before, *::after {
   box-sizing: border-box;
 }


/* ==========================================================================
   Navigation
   ========================================================================== */


header {
  padding: 4% 0 2% 0;
}

@media (max-width: 600px) {
  header {
  margin: 4% 0;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 600px) {
  .container .logo {
    margin-top: 2%;
    width: 18%;
  }
}

a {
text-decoration: none;
}

nav ul {
  display: none;

}

@media (min-width: 600px) {
  nav ul {
    display: flex;
  }
}

nav ul li {
  display: block;
  margin-left: 10%;
}

#button-open {
  cursor: pointer;
}


 @media (max-width: 600px) {
   nav {
     display: none;
   }
 }


/* ==========================================================================
   Footer
   ========================================================================== */

footer {
  clear: both;
  position: relative;
  height: 170px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

   footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  footer ul li {
    display: block;
    margin: 0 25px;
  }

  footer h5 {
    margin-bottom: 1%;
    color: #882052;
 }

 #up-arrow {
   width: 30px;
   height: 30px;
   display: flex;
   margin: 10% auto 5% auto;
 }

 @media (max-width: 600px) {
   #up-arrow {
   margin-top: 20%;
   }
 }


/* ==========================================================================
   Typography
   ========================================================================== */


h1 {
  margin: 0;
  font-size: 300px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

@media (max-width: 1100px) {
  h1 {
    font-size: 225px;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 165px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 80px;
  }
}


h2 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h3 {
  margin: 0px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h4 {
  margin: 0px;
  font-size: 21px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
  line-height: 135%;
}

h5 {
  margin: 0px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

h6 {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}

p {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
  line-height: 160%;
}

nav ul {
  margin: 0px;
  font-size: 21px;
  font-weight: 700;
  font-family: 'Raleway', Arial, sans-serif;
  color: #4B4B4B;
}


.nav-active {
  font-weight: 800;
  color: #882052;
}

.nav-inactive {
  color: #4B4B4B;
}

nav a:active {
  color: #882052;
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: #882052;
}




/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  margin-top: 2%;
  min-height: calc(65vh - 164px);
}

.hero h1 {
  position: relative;
  text-align: center;
  color: #882052;
}

  .hero {
    background: url('../images/image-plumdivider.svg')no-repeat center center;
    overflow: hidden;
    background-size: cover;
    width: 100%;
  }


    @media (max-width: 600px) {
        .hero .container {
          margin-top: 8%;
        }
      }

  .hero-image-work {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: auto;
  }

   .hero-image {
      max-width: 100%;
      height: auto;
      display: flex;
      margin: auto;
      position: absolute;
      top: 18%;
      left: 36%;
      overflow-x: hidden;
    }


  @media (max-width: 1100px) {
    #hero-index {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 12%;
      left: 33%;
    }
  }


  @media (max-width: 600px) {
    #hero-index {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 18%;
      left: 33%;
    }
  }


  @media (max-width: 1100px) {
    #hero-work {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 16%;
      left: 37%;
    }
  }


  @media (max-width: 600px) {
    #hero-work {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 20%;
      left: 37%;
    }
  }


  @media (max-width: 1100px) {
    #hero-about {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 14%;
      left: 35%;
    }
  }

  @media (max-width: 600px) {
    #hero-about {
      position: absolute;
      max-width: 60%;
      height: auto;
      top: 19%;
      left: 35%;
    }
  }

    #hero-h1 {
      margin: 2% 0 15% 0;
    }

    #down-arrow {
      display: flex;
      margin: 12% auto 10% auto;
      z-index: 500;
    }

    @media (max-width: 600px) {
      #down-arrow {
        display: flex;
        margin: 12% auto 10% auto;
        position: absolute;
        top: 38%;
        left: 46%;
        z-index: 500;
      }
    }

/* ==========================================================================
   Plum Divider
   ========================================================================== */

   .plum-divider {
     background-color: #882052;
     padding: 60px 0 40px 0;
   }

   #plum-divider-work {
     padding: 60px 0 40px 0;
   }

   #plum-divider-about {
     padding: 60px 0;
   }

   .plum-divider .container {
     max-width: 55%;
     margin: 0 auto 0 auto;
   }

   .plum-divider h4, .plum-divider h5, .plum-divider p {
     color: #ffffff;
     text-align: center;
     margin: auto;
   }

   .plum-divider h4 {
     margin: 2% auto;
   }

   #white-dash {
     display: block;
     margin: 2% auto;
   }


   /* ==========================================================================
      Buttons
      ========================================================================== */

    .button-center-one, .button-center-two {
      margin: 0;
      padding:0;
      text-align: center;
      }

   .button-action {
     margin: 0;
     padding:0;
   }

     .button {
       appearance: none;
       background-color:#882052;
       cursor:pointer;
       color:#ffffff;
       font-size: 18px;
       font-weight: 800;
       text-transform: uppercase;
       text-align: center;
       font-family: 'Raleway', Arial, sans-serif;
       text-decoration:none;
       display: inline-block;
       padding:18px 36px;
       margin: 40px auto;
   }

   .button-center-one a:hover {
     color: #54002F;
     }

   .button-center-two a:hover {
       background-color: #54002F;
      }

     .button-action a:visited {
       color: #ffffff;
      }

     .button-action a:hover {
       background-color: #54002F;
      }


      @media (hover:none), (hover:on-demand) {
        .button-center-one a:hover, .button-center-two a:hover, .button-action a:hover {
          background: none;
        }
      }

/* ==========================================================================
   Index Page Projects
   ========================================================================== */

   .title h2 {
     margin: 60px auto;
     text-align: center;
     color: #882052
   }

   .title-2 h2 {
     margin-top: 60px;
     text-align: center;
     color: #882052
   }

   .project-light h3, .project-dark h3 {
     margin: 18px auto;
     color: #882052
   }

   .project-light {
     align-items: center;
     background-color: #FAF6F8;
     padding: 60px 60px;
     height: 100%;

   }

   .project-dark {
     align-items: center;
     background-color: #F5EDF1;
     padding: 60px 60px;
     height: 100%;

   }

   @media (max-width: 600px) {
     .project-light, .project-dark {
       text-align: center;

     }
   }


   .column-5, .column-10, .column-20, .column-30, .column-40, .column-50 {
     width: 100%;
   }



   @media (min-width: 600px) {

     .column-5 {
       width: 5%;
       min-height: 1px;
     }

     .column-10 {
       width: 10%;
       min-height: 1px;
     }

     .column-20 {
       width: 20%;
     }

     .column-30 {
       width: 30%;
       padding: 40px 30px;
     }

     .column-40 {
       width: 40%;
       padding: 0 2%;
       margin: 3% 0;
     }

     .column-50 {
       width: 50%;
       padding: 0 3%;
       background-repeat: no-repeat;
       background-size: cover;

     }
  }

   .image-center {
     image-orientation: center;
     align-items: center;
     margin: 5% auto 0 auto;
   }

   @media (min-width: 1200px) {
     .below-1100 {
       display: none;
     }
   }

   @media (max-width: 1200px) {
     .above-1100 {
       display: none;
     }
   }

/* ==========================================================================
   Work Squares
   ========================================================================== */

   .work-squares {
     margin: 0 auto;
   }

   .work-square {
     min-width: 33.33%;
     height: 399px;
     display: flex;
     margin-top: 10%;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .hover {
    min-width: 100%;
    height: 399px;
    text-align: center;
    opacity: 0;
    transition: 0.5s opacity ease;
    background-color: rgba(84,0,47, 0.9);
  }

 .hover h3 {
   margin: 0 12% 5% 12%;
   padding-top: 27%;
   color: #ffffff;
 }


 #work-square-button {
   padding-top: 0;
   font-size: 18px;
 }

 .hover p {
   margin: 0 12% 5% 12%;
   color: #ffffff;
 }

  .hover:hover {
    opacity: 1;
  }

    @media (max-width: 1025px) {
      .hover {
        pointer-events: none;
      }
    }

   #forecast {
     background-image: url('../images/work-forecast.png');
   }

   #horizon-rewards {
     background-image: url('../images/work-horizonrewards.png');
   }

   #vote-u {
     background-image: url('../images/work-voteneedsu.png');
   }

   #talking-door {
     background-image: url('../images/work-talkingdoor.png');
   }

   #boo-boo-buddy {
     background-image: url('../images/work-booboobuddies.png');
   }

   #busy-bus {
     background-image: url('../images/work-busybus.png');
   }

   #partners-branding {
     background-image: url('../images/work-partnersbranding.png');
   }

   #minnie-meals {
     background-image: url('../images/work-minniemeals.png');
   }

   #junk-drawer {
     background-image: url('../images/work-junkdrawer.png');
   }

   #logos {
     background-image: url('../images/work-logos.png');
   }

   #photography {
     background-image: url('../images/work-photos.png');
   }


/* ==========================================================================
   About and Projects
   ========================================================================== */

   .side-header {
     display: inline-block;
     margin: 0;
     font-size: 24px;
     font-weight: 700;
     text-align: right;
     font-family: 'Raleway', Arial, sans-serif;
     color: #4B4B4B;
     line-height: 200%;
   }

   .side-header ul {
     padding: 0;
   }

   .side-header ul li {
     display: block;
   }

   .side-header-plum h3{
     display: inline-block;
     margin: 0;
     font-size: 24px;
     font-weight: 700;
     text-transform: uppercase;
     text-align: right;
     font-family: 'Raleway', Arial, sans-serif;
     color: #882052;
   }

   .information-text {
     padding: 0;
   }

   .information-text h2 {
     margin-bottom: 4%;
     color: #882052;
   }

   .information-text ul {
     margin-bottom: 3%;
     font-size: 18px;
     font-weight: 400;
     font-family: 'Raleway', Arial, sans-serif;
     color: #4B4B4B;
     line-height: 160%;
     padding: 0;
   }

   .information-text ul li {
     display: block;
   }

   .information-text p {
     margin-bottom: 4%;
   }


   #button-padding {
     padding: 0;
   }

   #button-resume, #top-element {
     margin: 0;
   }

   #about-me, #bio, #experience, #resume {
     margin-top: 10%;
   }

   #about-me .container {
       margin: 0 10%;
     }


   #me {
     background-image: url('../images/about-me.jpg');
   }

   .about-me {
     width: 50%;
     background-repeat: no-repeat;
     background-size: cover;
    }


    @media (max-width: 600px) {
        #about-me .container {
        margin: 0 0;
        }
      }

  @media (max-width: 600px) {
    .container.full #me {
      width: 100%;
      height: 300px;
      padding: 0%;
      margin: 0 0;
      background-repeat: no-repeat;
      background-size: cover;
      }
    }

    @media (max-width: 600px) {
      .side-header {
        text-align: left;
        margin: 10% 0 15% 0;
        }
      }

    @media (max-width: 600px) {
      .side-header.about {
        text-align: left;
        margin: 10% 10% 0 10%;
        }
      }

      @media (max-width: 600px) {
        .side-header-plum h3{
          text-align: left;
          margin: 2% auto 7% auto;
        }
      }

/* ==========================================================================
   Forecast
   ========================================================================== */


   .container.full{
     margin: 0;
     padding: 0;
   }

   .information.project-light.project {
     padding: 0;
   }

   .container.container-flex.full, .container.container-reverse.full {
     max-width: none;
   }

   .top-margin-none {
     margin-top: 0;
   }

   .button-action.margin-none a {
     margin: 3% 0 0 0;
   }

   .column-50.information-text.process p {
     margin-bottom: 0;
   }

   .top-margin-60 {
     margin-top: 5%;
   }

   .top-margin-100, #forecast-personas, #forecast-profiles, #hero-forecast2, #forecast-conclusion {
     margin-top: 10%;
   }

   #forecast-profiles {
     align-items: center;
     justify-content: center;
     text-align: center;
   }

   #subtext {
     padding-bottom: 30px;
   }

   .half-width-padding {
     padding: 4%;
   }

   .column-50.image-information {
     padding: 0;
   }

   #leslie img, #erin img {
     width: 30%;
   }

   .full-width {
     margin: 0 auto;
     min-width: 100%;
     min-height: 500px;
     display: flex;
     background-repeat: no-repeat;
     background-size: cover;
   }

#forecast-conclusion {
  padding: 10% 0;
}


   #forecast-problem {
     background-image: url('../images/forecast-problem.jpg');
   }

   #forecast-solution {
     background-image: url('../images/forecast-solution.jpg');
   }

   #forecast-surveys {
     background-image: url('../images/forecast-surveys.jpg');
   }

   #forecast-flows {
     background-image: url('../images/forecast-flows.jpg');
   }

   #forecast-sketches {
     background-image: url('../images/forecast-sketches.jpg');
   }

   #forecast-mockups {
     background-image: url('../images/forecast-mockups.jpg');
   }

   #forecast-mockuptesting {
     background-image: url('../images/forecast-mockuptesting.jpg');
   }

   #forecast-branding {
     background-image: url('../images/forecast-branding.jpg');
   }

   #forecast-prototypes {
     background-image: url('../images/forecast-prototypes.jpg');
   }

   #forecast-prototypetesting {
     background-image: url('../images/forecast-prototypetesting.jpg');
   }

   @media (max-width: 600px) {
     .column-50.image-information {
       width: 100%;
       height: 500px;
       padding: 0;
       margin: 0;
       background-repeat: no-repeat;
       background-size: cover;
     }
   }

   @media (max-width: 600px) {
     .project-light.project .half-width-padding {
       text-align: left;
       padding: 5% 10% 10% 10%;
     }
   }

   @media (max-width: 600px) {
     .information-text h2 {
       padding: 5% 0;
     }
   }

   @media (max-width: 600px) {
     .information-text h3 {
       padding: 5% 0 0 0;
     }
   }

   @media (max-width: 600px) {
     .top-margin-60 {
       margin-top: 10%;
     }
   }

   @media (max-width: 600px) {
     .button-action.margin-none {
       margin-bottom: 10%;
     }
   }

   @media (max-width: 600px) {
     #forecast-profiles {
       padding: 20% 4% 20% 4%;
     }
   }

   @media (max-width: 600px) {
     #erin {
       margin: 20% auto auto auto;
     }
   }

   @media (max-width: 600px) {
     #forecast-conclusion {
       text-align: left;
       padding: 25% 5% 20% 5%;
     }
   }

/* ==========================================================================
   Horizon Rewards
   ========================================================================== */

   .top-margin-50 {
     margin-top: 5%;
   }

.image-smaller {
  margin: 0 auto 0 auto;
  padding: 0 3% 0 3%;
  align-items: center;
  justify-content: center;
}

.image-logos {
  max-width: 40%;
}

.full-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: flex;
}

/* ==========================================================================
   Previous and Next
   ========================================================================== */

   .previous-next {
     clear: both;
     position: relative;
     text-align: center;
     margin: 0 auto;
    }


  .previous-next a {
    text-decoration: none;
   }

  .previous-next ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .previous-next ul li {
    width: 100%;
    display: block;
  }

  .previous-next {
    margin: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', Arial, sans-serif;
    color: #882052;
  }

  .previous-next a:active {
    color: #882052;
  }


/* ==========================================================================
   Modal
   ========================================================================== */

 @media (min-width: 1200px) {

    .modal-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #882052;
      z-index: 1200;
    }

    .modal {
      display: block;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #ffffff;
      box-shadow: 0 0 30px 10px rgba(84,0,47, 0.3);

      min-width: 1200px;

      min-height: 600px;

      z-index: 1300;
    }

    .closed {
      display: none;
    }

    .button-close {
      position: absolute;
      z-index: 1100;
      right: 7%;
      top: 9%;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    .leftright{
      height: 4px;
      width: 50px;
      position: absolute;
      margin-top: 24px;
      background-color: #882052;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all .3s ease-in;
    }

    .rightleft{
      height: 4px;
      width: 50px;
      position: absolute;
      margin-top: 24px;
      background-color: #882052;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all .3s ease-in;
    }

    label{
      font-size: 16px;
      font-weight: 400;
      font-family: 'Raleway', Arial, sans-serif;
      color: #4B4B4B;
      text-transform: uppercase;
      transition: all .3s ease-in;
      opacity: 0;
    }

    .close{
      margin: 60px 0 0 0;
      position: absolute;
    }

    .button-close:hover .leftright{
      transform: rotate(-45deg);
      background-color: #54002F;
    }
    .button-close:hover .rightleft{
      transform: rotate(45deg);
      background-color: #54002F;
    }

    .button-close:hover label{
      opacity: 1;
    }


      .modal-logo {
        display: flex;
        position: relative;
        margin: 4% 0 0 7%;
    }

      .modal-body {
        clear: both;
        position: relative;
        margin: 11% auto 5% auto;
        text-align: center;
    }

      .contact-email {
        font-size: 70px;
        font-weight: 800;
        font-family: 'Raleway', Arial, sans-serif;
        color: #882052;

    }

      .contact-email:hover {
        color: #54002F;
    }

      .modal-footer {
        clear: both;
        position: relative;
        margin: 15% auto 5% auto;
        text-align: center;
    }

      .modal-footer ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      .modal-footer ul li {
        display: block;
        margin: 0 25px 0 25px;
      }

      .modal-footer h5 {
        margin-bottom: 1%;
        color: #882052;
     }
   }


   @media (max-width: 1200px) {

      .modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #882052;
        z-index: 1200;
      }

      .modal {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 30px 10px rgba(84,0,47, 0.3);

        min-width: 675px;

        min-height: 425px;

        z-index: 1300;
      }

      .closed {
        display: none;
      }

      .button-close {
        position: absolute;
        z-index: 1100;
        right: 9%;
        top: 9%;
        width: 32px;
        height: 32px;
        cursor: pointer;
      }

      .leftright{
        height: 4px;
        width: 50px;
        position: absolute;
        margin-top: 24px;
        background-color: #882052;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
      }

      .rightleft{
        height: 4px;
        width: 50px;
        position: absolute;
        margin-top: 24px;
        background-color: #882052;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all .3s ease-in;
      }

      label{
        font-size: 16px;
        font-weight: 400;
        font-family: 'Raleway', Arial, sans-serif;
        color: #4B4B4B;
        text-transform: uppercase;
        transition: all .3s ease-in;
        opacity: 0;
      }

      .close{
        margin: 60px 0 0 0;
        position: absolute;
      }

      .button-close:hover .leftright{
        transform: rotate(-45deg);
        background-color: #54002F;
      }
      .button-close:hover .rightleft{
        transform: rotate(45deg);
        background-color: #54002F;
      }

      .button-close:hover label{
        opacity: 1;
      }


        .modal-logo {
          display: flex;
          position: relative;
          margin: 5% 0 0 7%;
      }

        .modal-body {
          clear: both;
          position: relative;
          margin: 11% auto 5% auto;
          text-align: center;
      }

        .contact-email {
          font-size: 45px;
          font-weight: 800;
          font-family: 'Raleway', Arial, sans-serif;
          color: #882052;

      }

        .contact-email:hover {
          color: #54002F;
      }

        .modal-footer {
          clear: both;
          position: relative;
          margin: 15% auto 5% auto;
          text-align: center;
      }

        .modal-footer ul {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0px;
        }

        .modal-footer ul li {
          display: block;
          margin: 0 25px 0 25px;
        }

        .modal-footer h5 {
          margin-bottom: 1%;
          color: #882052;
       }
     }


     @media (max-width: 600px) {
       .modal-wrapper {
         display: none;
       }
     }


     @media (min-width: 600px) {
       .hamburger-open {
         display: none;
       }
     }


     @media (max-width: 600px) {

       .hamburger-open {
         position: absolute;
         top: 6%;
         left: 80%;
         width: 35px;
         height: 35px;
         display: flex;
         cursor: pointer;
         }


        .hamburger-wrapper {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #882052;
          z-index: 1200;
        }

        .hamburger {
          display: block;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ffffff;
          box-shadow: 0 0 30px 10px rgba(84,0,47, 0.3);

          min-width: 300px;

          min-height: 600px;

          z-index: 1300;
        }

        .closed {
          display: none;
        }

        .hamburger-close {
          position: absolute;
          z-index: 1100;
          right: 5%;
          top: 5%;
          width: 50px;
          height: 50px;
          cursor: pointer;
        }




        .close{
          margin: 60px 0 0 0;
          position: absolute;
        }

        .button-close:hover .leftright{
          transform: rotate(-45deg);
          background-color: #54002F;
        }
        .button-close:hover .rightleft{
          transform: rotate(45deg);
          background-color: #54002F;
        }

        .button-close:hover label{
          opacity: 1;
        }

          .hamburger-logo {
            display: flex;
            position: relative;
            margin: 45% auto 18% auto;
        }


        .hamburger-body ul li {
          display: block;
          margin: 20% auto 0 auto;
        }

        .hamburger-body ul {
          margin: 0 auto;
          padding: 0;
          font-size: 28px;
          font-weight: 700;
          font-family: 'Raleway', Arial, sans-serif;
          color: #4B4B4B;
          text-align: center;

        }


          .hamburger-footer {
            clear: both;
            position: relative;
            margin: 30% auto 5% auto;
            text-align: center;
        }

          .hamburger-footer ul {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
          }

          .hamburger-footer ul li {
            display: block;
            margin: 0 25px;
          }

          .hamburger-footer h5 {
            margin-bottom: 1%;
            color: #882052;
         }
       }


/* ==========================================================================
   Helper classes (optional)
   ========================================================================== */

   img {
     max-width: 100%;
   }

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
